<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My sons age</title>
</head>
<body>
<h1>My sons age:</h1>
<ul>
    <li>Roman age: <span th:text="${age1}"></span></li>
    <li>Ivan age: <span th:text="${age2}"></span></li>
    <li>Stephan age: <span th:text="${age3}"></span></li>
</ul>

<!--<ul>-->
<!--    <li>Roman age: <span th:text="${age1}"></span></li>-->
<!--    <li>Ivan age: <span th:text="${age2}"></span></li>-->
<!--    <li>Stephan age: <span th:text="${age3}"></span></li>-->
<!--    <p> Average age:  <span th:text="${average}"></span></p>-->
<!--</ul>-->

</body>
</html>
